@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  font-family: "Spartan", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-size: 62.5%;
  line-height: 1.8;
  height: 100%;
  word-break: break-word;
  color: #333;
  background-color: #f8f8f8;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: #f5695f;
}

::selection {
  color: #fff;
  background: #f5695f;
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
  padding: 0 10rem;
}

.l-section {
  border-top: 1px solid #eee;
}

.l-section .l-inner {
  padding-top: 80px;
  padding-top: 8rem;
  padding-bottom: 80px;
  padding-bottom: 8rem;
}

[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 64px;
  width: 6.4rem;
  height: 64px;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}

.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, .05),
    -0.8rem -0.8rem 1.2rem #fff;
  box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, .05),
    -0.8rem -0.8rem 1.2rem #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 12px;
  width: 1.2rem;
  height: 12px;
  height: 1.2rem;
  content: "";
  border: solid #ddd;
  border-width: 3px 3px 0 0;
}

.swiper-button-prev::after {
  margin-left: 4px;
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.swiper-button-next::after {
  margin-right: 4px;
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.gallery01 {
  overflow: hidden;
}

.gallery01 .swiper {
  max-width: 720px;
  margin: auto;
}

.gallery01 .swiper-main {
  overflow: visible;
}

.gallery01 .swiper-thumb {
  padding-top: 8px;
}

.gallery01 .swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}

.gallery01 .swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.gallery01 .swiper-controller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 62.5%;
}

.gallery01 .swiper-button-prev,
.gallery01 .swiper-button-next {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
}

.gallery01 .swiper-button-prev {
  right: calc(100% + 3.2rem);
}

.gallery01 .swiper-button-next {
  left: calc(100% + 3.2rem);
}

.gallery01 .swiper-scrollbar {
  position: relative;
  margin-top: 16px;
  margin-top: 1.6rem;
}

.gallery01 .swiper-scrollbar::after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin: auto;
  content: "";
  background-color: #eee;
}

.gallery01 .swiper-scrollbar-drag {
  height: 20px;
  padding: 8px 0;
  cursor: pointer;
  background-color: #f5695f;
  background-clip: content-box;
}

.gallery01 .swiper-scrollbar-drag:active {
  background-color: #f12617;
}

.gallery01 .slide {
  display: block;
  overflow: hidden;
}

.gallery01 .slide-media {
  padding-top: 62.5%;
  border-radius: 4px;
}

.gallery01 .slide-media img {
  -o-object-fit: contain;
  object-fit: contain;
}

.gallery01 .slide-title {
  font-weight: bold;
  line-height: 1.6;
  padding: 32px 0;
  padding: 3.2rem 0;
}

.gallery01 .thumb-media {
  padding-top: 100%;
  -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  border-radius: 4px;
}

.gallery01 .thumb-media img {
  height: calc(100% + 8px);
  -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.gallery01 .swiper-slide-thumb-active {
  -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  opacity: 0.3;
}

.gallery01 .swiper-slide-thumb-active .thumb-media {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.gallery01 .swiper-slide-thumb-active .thumb-media img {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
  .gallery01 .swiper-button-prev::before,
.gallery01 .swiper-button-next::before {
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, .1),
    -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
    box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, .1),
    -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
  }
  .gallery01 .swiper-button-prev::after,
.gallery01 .swiper-button-next::after {
    border-color: #fff;
  }
  .gallery01 .swiper-button-prev {
    right: calc(100% - 3.2rem);
  }
  .gallery01 .swiper-button-next {
    left: calc(100% - 3.2rem);
  }
}
@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before,
.swiper-button-next::before {
    -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
    transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  }
  .swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .gallery01 .swiper-scrollbar-drag:hover {
    background-color: #f12617;
  }
  .gallery01 .thumb-media:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  .gallery01 .thumb-media:hover img {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
/*# sourceMappingURL=styles.css.map */
